@font-face {
    font-family: 'NerisBlack';
    src: url(../fonts/nerisblack.woff2);
    font-weight: 900;
}

@font-face {
    font-family: 'NerisLight';
    src: url(../fonts/nerislight.woff2);
    font-weight: 300;
}

@font-face {
    font-family: 'NerisSemi-Bold';
    src: url(../fonts/nerissemibold.woff2);
    font-weight: 600;
}