@import 'custom';
@import 'fonts';
@import 'header';

body {
    &.active {
        overflow: hidden;
    }
}

section {
    padding: 110px 0;

    @include media-breakpoint-down(lg) {
        padding: 85px 0;
    }
    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }
    @include media-breakpoint-down(sm) {
        padding: 40px 0;
    }
}

.h1 {
    margin-bottom: 65px;
    line-height: 1.3;

    @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
        font-size: 1.9rem;

    }
}

img {
    max-width: 100%;
}

.description {
    margin-bottom: 70px;

    line-height: 2;

    @include media-breakpoint-down(sm) {

        margin-bottom: 25px;
        font-size: 1rem;
        line-height: 1.8;

    }
}


